#libele{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 19px; 
	-fx-background-color: #00ffff; 
	
}
#add-btn{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 19px; 
	-fx-background-color: #00ffff; 
	
}
#remove-btn{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 19px; 
	-fx-background-color: #00ffff; 
	
}
